.banner{
 background-image:linear-gradient( rgba(13, 60, 104, 0.5) 100%, rgba(28, 19, 156, 0.5)100%), url("../assets//quang.jpg");
 height: 100vh;
 background-position:center;
 background-repeat: no-repeat;
 background-size: cover;
 .introduce{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%,-40%);

  color: rgb(7, 219, 202);
  animation-name: example;
  animation-duration: 4s;
  @keyframes example {
   0%   { border-radius: 50%; width: 700px; right:0px; top:100px;}
   25%  {border-radius: 50%; width: 600px; right:200px; top:400px;}
   50%  {border-radius: 50%; width: 500px; right:200px; top:200px;}
 }
  h2{
   text-transform: uppercase;
   font-weight: bold;
   font-size: 3rem;
   margin-bottom: 20px;
   font-style: italic;
  }
  p{
   font-style: italic;
   font-size: 1.2rem;
  }
 }
}

@media only screen and (max-width: 900px) {
 .banner{
  .introduce {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-70%,-40%);
   width: 480px;
 
  }
 }
}

@media only screen and (max-width: 628px) {
 .banner{
  .introduce {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   width: 350px;
   h2{
    font-size: 2rem;
   }
   p{
    font-size: 1rem;
   }
  }
 }
}