.mySkill{
 background-color: #e6e4e4;
 .container{
  width: 90%;
  margin: 0 auto;
  padding-top:30px;
  padding-bottom: 30px;
  .progress{
   height: 1.2rem;
   margin-bottom: 10px;
   margin-left: 20px;
  }
  .progress-bar{
   background-color: rgb(37, 164, 168);
   
  }
 }
}

